{% raw %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Fulfil's App">
    <title>{% block title %}App | Fulfil.io{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.fulfil.io/assets/libs/polaris-uptown/latest/uptown.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" href="https://cdn.fulfil.io/assets/logo/icon-transparent.png">
    {% block extra_head %}
    {% endblock extra_head %}
    <link rel="icon" type="image/png" href="https://cdn.fulfil.io/assets/logo/icon-transparent.png">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    {% block custom_style %}
    {% endblock custom_style %}

</head>

<body>
    {% block body %}
    <main id="page">
        {% block nav %}
        <section class="top-nav full-width">
            <div class="">
                <a href="{{ url_for('user.home') }}">
                    <img src="https://cdn.fulfil.io/assets/logo/full-transparent-white.png" class="top-nav-logo">
                </a>
            </div>
            <div class="user-section">
                {% if current_user and current_user.is_authenticated %}
                <span>
                    {{ current_user.name }}
                    <a class="subdued" href="{{ url_for('user.logout') }}">(Logout)</a>
                </span>
                {% endif %}
            </div>
        </section>
        {% endblock nav %}

        <section>
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
            <div class="column twelve">
                {% for category, message in messages %}
                <div class="alert {{ category }} full-width">
                    <dl>
                        <dt>{{ category|capitalize }}</dt>
                        <dd>{{ message }}</dd>
                    </dl>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </section>

        {% block content %}
        {% endblock content %}

        <footer>
        </footer>
    </main>
    {% endblock body %}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token)
                }
            }
        })
    </script>
    {% endblock scripts %}
</body>

</html>
{% endraw %}
