{% raw %}
{% extends 'layout.html' %}
{% from 'utils.html' import render_field %}

{% block content %}
<section class="no-border row">
  <article>
    <div class="column four"></div>
    <div class="card column four">
        <!--Card image-->
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-block">
            <!--Title-->
            <h4 class="card-title text-center">Login</h4>
            <!--Text-->
            <form method="POST" enctype="multipart/form-data" class="section">
              <div class="input-group">
                {{ render_field(form.organization, label_visible=false) }}
                <span class="append">.fulfil.io</span>
              </div>
              {{ form.hidden_tag() }}
              <br/>
              <button type="submit" class="primary">
                Login
              </button>
            </form>
        </div>
        <!--/.Card content-->
    </div>
    <div class="column four"></div>
  </article>
</section>
{% endblock content %}
{% endraw %}
